// Colors
$night: #0a0e27;
$black: #1a1a2e;
$dark-grey: #2d3748;
$grey: #718096;
$blue: #3b82f6;
$slate: #cbd5e0;
$off-white: #f7fafc;
$white: #ffffff;
$green: #10b981;
$purple: #8b5cf6;
$red: #ef4444;
$orange: #f59e0b;
$yellow: #fbbf24;
$accent: #60a5fa;
$gradient-start: #667eea;
$gradient-end: #764ba2;
// Fonts
$font-stack: 'Source Sans Pro', system, system-ui, -apple-system,
  BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
$Apercu: 'Apercu', $font-stack;
// Media queries
$fifteen-inch: 1440px;
$thirteen-inch: 1280px;
$desktop-width: 1024px;
$little-desktop: 850px;
$tablet-width: 768px;
$weird-not-tablet-width: 630px;
$phablet-width: 550px;
$mobile-width: 480px;
$small-mobile-width: 360px;
$tiny-mobile-width: 330px;

@mixin transition {
  transition: all 0.2s ease-in-out;
}

@mixin thirteen {
  @media screen and (max-width: #{$thirteen-inch}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin little-desktop {
  @media screen and (max-width: #{$little-desktop}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin weird-medium {
  @media screen and (max-width: #{$weird-not-tablet-width}) {
    @content;
  }
}

@mixin phablet {
  @media screen and (max-width: #{$phablet-width}) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin small-mobile {
  @media screen and (max-width: #{$small-mobile-width}) {
    @content;
  }
}

@mixin tiny-mobile {
  @media screen and (max-width: #{$tiny-mobile-width}) {
    @content;
  }
}
