<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently an Learning System Design and Database Engineering. I am currently studying IT from
      <a class="underline-link" href="https://puchd.ac.in/" target="_blank">Panjab University</a> and will graduate in 2023.
    </p>

    <p>
    I Have Interests in Cloud Computing, Web Development, Stock Market, Space Theory, System Design, The Science of Startups, Literature and Sports. Currently just trying to build applications that can help people in general.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably playing any kind of sports, hanging out with my friends,
      or reading books.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
