<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://blistabloc.com/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/tours/tours.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://blistabloc.com/" target="_blank">Treadstone</a>
        </div>
        <p>A Hiking Tour booking application with ability to perform CRUD operations on different information
          pertaining to the tour.</p>
      </figcaption>
    </div>

    <div class="project screentime">
      <figure class="project__pic">
        <a href="https://expanse-next-app.vercel.app/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/expanse/space.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/mohitms007/Expanse-next-app" target="_blank">Expanse Next App</a>
        </div>
        <p>Created a Space Research application to get the daily updates related to space and query for different data.</`p>
      </figcaption>
    </div>

  </div>
</section>
