<section class="section skills">
  <div class="section__title">Skills</div>
  <div class="section__content">
    <div class="skillz">
      <div class="skillz__category">
        <div class="skillz__category__label">Proficient</div>
        <ul>
          {% for skill in site.data.skills.proficient %}
          <li class="skillz__category__item">{{skill.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Intermediate</div>
        <ul>
          {% for skill in site.data.skills.intermediate %}
          <li class="skillz__category__item">{{skill.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Beginner</div>
        <ul>
          {% for skill in site.data.skills.beginner %}
          <li class="skillz__category__item">{{skill.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Tools</div>
        <ul>
          {% for tool in site.data.skills.tools %}
          <li class="skillz__category__item">{{tool.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Concepts</div>
        <ul>
          {% for concept in site.data.skills.concepts %}
          <li class="skillz__category__item">{{concept.item}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
